body {
    font-family: Arial, sans-serif;
    direction: rtl;
    text-align: right;
}

.accordion {
    margin-bottom: 1rem;
}

.accordion-panel {
    display: none;
}

#map, #locationMap {
    width: 100%;
    height: 400px;
}
